@import "../../css/utils/variables";
.containerTags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;

  &__tag{
    width: 115px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: $primary-color;
    font-weight: 500;
    font-size: 14px;
    padding: 5px;
    text-align: center;

    @media screen and (max-width: 768px) {
      font-size: 12px; 
    }
  }
}